@charset "UTF-8";

@font-face {
    font-family: "Abassy";
    src: url("fonts/Abbasy Calligraphy Typeface.ttf");
}
@font-face {
    font-family: "Intensa";
    src: url("fonts/Intensa Fuente.ttf");
}
* {
    margin: 0px;
    padding: 0px;
}
html, body {
    background-color: darkgray;
    min-height: 100vh;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    line-height: 2em;
}
header > h1 {
    padding-top: 50px;
    font-family: "Intensa";
    font-size: 3em;
}
header > p {
    padding-bottom: 50px;
    font-family: "Intensa";
    font-size: 1.5em;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font: italic normal 1.5em "Abassy";
}
section.c01 {
    background-color: white;
    color: black;
}
section.c02 {
    background-color: darkgray;
    color: white;
}
section.c02 > p {
    display: inline-block;
    background-color: gray;
}
a {
    color: white;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}